services:
  api-init:
    build: .
    command: >
      sh -c "
        .venv/bin/alembic upgrade head &&
        .venv/bin/python -m celine.nudging.db.seed_db
      "
    environment:
      - SEED_DIR=/seed
    volumes:
      - ./src:/app/src
      - ./seed:/seed
    extra_hosts:
      - "keycloak.celine.localhost:172.17.0.1"
      - "api.celine.localhost:172.17.0.1"

  api:
    build: .
    environment:
      VAPID_PUBLIC_KEY: ${VAPID_PUBLIC_KEY}
      VAPID_PRIVATE_KEY: ${VAPID_PRIVATE_KEY}
      VAPID_SUBJECT: ${VAPID_SUBJECT}
    ports:
      - "8016:8016"
    depends_on:
      api-init:
        condition: service_completed_successfully
    # volumes:
    #   - .:/app
    extra_hosts:
      - "keycloak.celine.localhost:172.17.0.1"
      - "api.celine.localhost:172.17.0.1"
# volumes:
#   pgdata:
