services:
  api-init:
    build: .
    command: .venv/bin/alembic upgrade head

  api:
    build: .
    ports:
      - "8016:8016"
    environment:
      - SEED_DIR=/seed
    depends_on:
      api-init:
        condition: service_completed_successfully
    volumes:
      - .env:/app/.env
      - ./seed:/seed
    extra_hosts:
      - "keycloak.celine.localhost:172.17.0.1"
      - "api.celine.localhost:172.17.0.1"
